# Node modules
node_modules/

# Entorno de desarrollo
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Cache
.cache/
.next/
out/

# Builds
build/
dist/

# Editor
.vscode/
.idea/

# Base de datos local o exportada
*.sql
database/*.sql
